Root{
    text-align: center;
    background-color: rgb(80, 9, 9);
    color: lightgray;
    margin: auto;
    min-width: none;
    padding:0em;
    min-height: 100%;
    color:burlywood;
    }
  .container{
      margin: auto;
  }
.badge.evne-large-badger{

     font-size:1 .1em;
  
  
    }
Button {
  
    padding: 20px;
}

main {
    background-color: rgb(80,9,9);
    color: burlywood;
    margin: 0;
    min-height: 100%;
    max-height:100%;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;

}

.card{
    background-color: rgb(80, 9, 9);
    color: burlywood;
}


/* h1{
    color: burlywood;
    background-color
} */