 /* *root{
    text-align: center;
    background-color: rgb(80, 9, 9);
    color: lightgray;
    margin: auto;
    min-width: none;
    padding:0em;
    min-height: 100%;
    color:burlywood;
    }  */


body{
    margin: 0 auto;
    height: 100vh;
    text-align: center;
}
main {
    background-color: rgb(80,9,9);
    color: burlywood;
    margin: 0 auton;
    height: 100vh;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    
}

/*navbar-header*/
/* Header{
  margin: 0 auto;
  text-align: left;
  background-color:rgb(80, 9, 9);
}  */

Nav {
    margin: 0 auto;
    justify-content: left;
  } 
/* nav a {
    padding: 0;
    margin:0 auto;
    height: 100vh;
} */
h1{
  color: burlywood;
  background-color: darkgrey;

}
div{
    margin: 0 auto;
    padding: 0 auto;
    height: 100vh; 
    background-color: rgb(80, 9, 9);
    color: burlywood; 
    text-align: center;

}


form {
    margin:0 auto;
    height: 100vh;
    text-align: center;
    background-color: rgb(80, 9, 9);
    padding: 0 auto;
    color: burlywood;

}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px burlywood;
  outline: none;
  border-radius: 5px;
  background-color: rgb(80, 9, 9);
  color: burlywood
}




/* button {
  text-align: center;
  color: burlywood;

} */

footer {
    background-color: rgb(80, 9, 9);
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    color: burlywood;
    text-align: center;
  
  
  }


/*class */
.container{
    margin: 0 auto;
    height: 100vh;
    background-color:rgb(80, 9, 9);
    color: burlywood;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  margin: 0 auto;
}
.page-title {
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: auto;
}

.body{
  margin: 0 auto;
  height: 100vh;

}




.container{
    margin: 0 auto;
    height: auto;
}
.card{
    margin:0 0 auto;
    /* background-color: rgb(80, 9, 9); */
    color: burlywood;
    height: 100vh;

}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}


.login-button{
  color: burlywood;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: darkgrey;
  margin: 0 auto;
  padding: 0;
}

/* .App-logo {
  
  margin: 0 auto;
  height: 100vh;

} 



.App-header {
  background-color: #310c07;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(185, 179, 133);
}

.App-link {
  color: burlywood;
  background-color: rgb(80,9,9);
  margin: 0 auto;
  height: 100vh;
}


.img {
  width: 5%;
  height: 5%;

} 
 */
