:root {
    --primary:#572821;
    --secondary: #3e3f41;
    --dark: #5c6161;
    
    --border-radius: 0.3rem;
    --spacing-one: calc(1rem * 0.25);
    --spacing-two: calc(1rem * 0.5);
    --spacing-three: 1rem;
    --spacing-four: calc(1rem * 1.5);
    --spacing-five: calc(1rem * 3);
  }
  html,
  body {
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width:100%
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    background-color: rgb(109, 3, 3); 
  }

  .div.card.body{
    text-align: center;
    
  }