.App {
  text-align: center;
  background-color: rgb(80, 9, 9);
  color: lightgray;
  margin: 0px;
  color:burlywood;
  }

 .badge.evne-large-badger{
   font-size:1 .1em;


 }

.Button {

  padding: 20px;
}
  
  
  






/* .App-logo {
  
  height: max-content;
  height: min-content;
  height: fit-content(5em);
  height: auto;
  pointer-events: none;
}
.card {
  height: max-content;
  height: min-content;
  height: auto;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #310c07;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(185, 179, 133);
}

.App-link {
  color: #61dafb;
}

keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img {
  width: 5%;
  height: 5%;

} */

.footer {
  background-color: rgb(80, 9, 9);
  margin: 0px;


}